{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entity</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{%  if article.id %}{{ path('entity_show', { 'id': article.id })}}{% endif %}</td>

            </tr>
            <tr>
                <th>Name</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entity_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('entity_edit', { 'id': article.id }) }}">Edit</a>
        </li>

    </ul>
{% endblock %}
